

.banner .container {
  display: flex;
  flex-direction: column;
  height: 500px;
  box-shadow: 0 0 2px black;
  border: 1px solid black;
}

.banner h1 {
  position: relative;
  bottom: 50px;
  left: 600px;

}
.banner li {
  width: 200px;
  position: relative;
  bottom: 20px;
  left: 140px;
  margin-right: 250px;
  list-style-type: none;
  display: inline-block;
  border: 3px solid black;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
}
