

label.logo {
  display: flex;
  align-items: center;
  z-index: 9999;
  color: rgb(211, 191, 3);
  position: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 60px;
  background-color: rgb(237, 218, 228);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px

}
