 @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

 :root {
  --main-colour: black;
}

* {
  font-family: 'Nunito', 'sans-serif';
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
}

body {
  background-color: var(--main-colour);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-colour);
}

#title {
  background-image: linear-gradient(to right, blue, indigo, violet);
  -webkit-background-clip: text;
  font-weight: 1500;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  margin-bottom: 90px;

}

button {
  color:white;
  margin-bottom: 200px;
  border-radius: 30px;
  border: 3px solid white;
  background: transparent;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 20px;
}

h3 {
  background-image: linear-gradient(to right, red, orange, yellow);
  -webkit-background-clip: text;
  font-weight: 1500;
  background-clip: text;
  color: transparent;
  margin-top: 10px;
  padding-left: 1px;
  font-size: 30px;
}

.color-switcher{
  position:fixed;
  border: 2px solid white;
  top: 5px; right: -323px;
  width: 300px;
  height: 150px;
  padding: 10px;
  background: black;
  z-index: 1000;
}

.color-switcher.active {
  right: 0px;
}

.color-switcher h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  border-bottom:1px rgb(7, 7, 6) solid;
  padding: 5px 0;
  text-align: center;
}

.color-switcher .switcher-btn {
  position: absolute;
  top:-2px; left:-78px;
  border: 2px solid white;
  color:white;
  background: #010101;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 35px;

}

.color-switcher .switcher-btn i{
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

.color-switcher .theme-buttons-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}


.color-switcher .theme-buttons-container .theme-buttons {
display: block;
height:50px;
width:50px;
border-radius: 50%;
margin: 5px;
cursor: pointer;
}
